@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h1 class="display-2"> Summit Recruiting</h1>
    
    <h3>
        <em>Your go-to resource for finding talent in Summit County</em>
    </h3>

    <hr />

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <img src="images/home.jpg" alt="A picture of a team working with spreadsheets, charts, and laptops" height="400px" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2> Our Services</h2>
                <p>
                    We offer best in class recruiting services in the technology industry. Our recruiters have a combined experience of 80 years and have established countless connections in the Northeast Ohio region.
                </p>
                <p>
                    Whether you are a company looking to add talent to your team, or you're an individual looking to move forward in your career, Summit Recruiting can help you achieve your goals.
                </p>
            </div>
            <div class="col">
                <h2>
                    Specialized Focus
                </h2>
                <p>
                    Our recruiters have an intimate knowledge of the technology space. This experience enables our team to make better connections between applicants and companies more quickly, saving everyone involved time and money.
                </p>
                <p><strong>Typical Positions We Fill</strong></p>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Chief Information Officer</td>
                                <td>Database Administrator</td>
                                <td>Data Analyst</td>
                            </tr>
                            <tr>
                                <td>Network Engineer</td>
                                <td>Business Analyst</td>
                                <td>Helpdesk Associate</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-8">
                <h2>Testimonials</h2>
                <div class="accordion accordion-flush" id="accordionFlush1">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                ABC Technology Solutions
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlush1">
                            <div class="accordion-body">We have nothing but good things to say about working with Summit Recruiting. We were able to get the candidate we needed in record time!</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Joe Smith Consulting
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlush1">
                            <div class="accordion-body">I had a need for a specialized developer. The folks at Summit Recruiting were very detailed and understood my unique requirements. Every candidate I spoke with had the skillset we were looking for, which greatly exceeded my expectations.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Jane Doe - Software Engineer
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlush1">
                            <div class="accordion-body">After my previous company laid off my whole team, I turned to Summit Recruiting. They were quick to understand my skillset and the type of company I wanted to work for. Before I knew it, I had multiple competing offers from fantastic organizations.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/checklist.jpg" class="card-img-top" alt="An image of a checklist">
                    <div class="card-body">
                        <h5 class="card-title">Next steps</h5>
                        <p class="card-text">Interested? Click below to get in touch with one of our team members.</p>
                        <a href="#" class="btn btn-primary">Get in touch!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

<footer>
   <h5>Contact</h5>
   <p>
       <strong>Address: </strong>123 Main St, Akron, OH 44223
   </p>
   <p><strong>Phone: </strong>330-555-5555</p>
   <p><strong>Email: </strong>marketing@summitrecruting.net</p>
</footer>
