@page
@model RecruitCatDickendd.Pages.OurTeamModel
@{
}


<head>

</head>

<body>
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <h2>
                    David Dickens
                </h2>
                <img src="images/david_headshot.jpg" height="250px" />
                <p>
                    Information about David
                </p>
            </div>
            <div class="col">
                <h2>
                    Ethan Smith
                </h2>
                <img src="images/ethan_headshot.jpg" height="250px" />
                <p>
                    Ethan's info is here
                </p>
            </div>
            <div class="col">
                <h2>
                    Sarah Johnson
                </h2>
                <img src="images/sarah_headshot.jpg" height="250px" />
                <p>
                    Sarah's bio goes here
                </p>
            </div>
        </div>
    </div>
</body>