@page
@model RecruitCatDickendd.Pages.OurTeamModel
@{
}


<head>

</head>

<body>
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/david_headshot.jpg" class="card-img-top" alt="Headshot of David Dickens">
                    <div class="card-body">
                        <h5 class="card-title">David Dickens</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Founder & CEO</li>
                        <li class="list-group-item">15 Years Experience</li>
                    </ul>
                    <div class="card-body">
                        <p>
                            David is our founder and CEO. In 2022 he saw the need for better job placements in Northeast Ohio, and knew he had the skills to fill that need. With his background covering many aspects of the Information Systems industry, he has been able to provide key guidance and direction for Summit Recruiting.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/ethan_headshot.jpg" class="card-img-top" alt="Headshot of Ethan Smith">
                    <div class="card-body">
                        <h5 class="card-title">Ethan Smith</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">CFO</li>
                        <li class="list-group-item">CPA with 20 Years Experience</li>
                    </ul>
                    <div class="card-body">
                        <p>
                            Our CFO and managing partner, Ethan brings a wealth of accounting and finance knowledge to Summit Recruiting. Ethan ensures the financial health of the organization and helps to find opportunites to continue to expand and grow our services.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/sarah_headshot.jpg" class="card-img-top" alt="Headshot of Sarah Johnson">
                    <div class="card-body">
                        <h5 class="card-title">Sarah Johnson</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Chief Recruiting Officer</li>
                        <li class="list-group-item">10 Years Experience</li>
                    </ul>
                    <div class="card-body">
                        <p>
                            Serving as our Chief Recruiting Officer, Sarah has 10 years of experience serving in various roles related to Talent Acquisition. Sarah oversees our team of recruiters to ensure that our clients receive the best service in the industry.
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>